- content_for :sidebar do
  - if policy(lecture).destroy?
    .delete= link_to t('.delete'), [course, lecture], method: :delete

- breadcrumb lecture

%h1= course.name
%h2= t '.title'
= render 'form'
