.row
  .col-md-3
    - if policy(course).list_lectures?
      = btn_to course_lectures_path(course) do
        = icon 'arrow-left', 'Wróć'

  .col-md-9
    %h1= course.name
    %h2 Utwórz nowy wykład
    = render 'form', submit: 'Utwórz wykład'
