- unless solution.new_record?
  = link_to t('.my_solution'), solution

- if policy(solution).new?
  = simple_form_for [course, task, solution] do |f|
    = f.input :content, autofocus: true
    = f.button :submit
