.row
  .col-md-3
    - if policy(course).list_tasks?
      = btn_to course_tasks_path(course) do
        = icon 'arrow-left', 'Wróć'

  .col-md-9
    %h1= course.name
    %h2 Utwórz nowe zadanie
    = render 'form'
