.row
  .col-md-3
    = link_to root_path, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Wróć

  .col-md-9
    %h1 Użytkownicy

    - if users_requesting_upgrade.any?
      %h2 Użytkownicy wnioskujący o rozszerzenie uprawnień
      %ul= render users_requesting_upgrade

    %h2 Nauczyciele
    %ul= render teachers

    %h2 Studenci
    %ul= render students
