@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'font-awesome-sprockets'
@import 'font-awesome'
@import '*'

body
  margin-top: 60px

h1
  margin-bottom: 30px

textarea
  height: 400px !important

.approve,
.back,
.categories,
.category,
.delete,
.edit,
.enroll,
.lectures,
.new,
.reject,
.sign-up,
.solutions,
.students,
.tasks,
.users
  display: inline

  &>a,
  input[type=submit]
    @extend .btn

    &:before
      @extend %fa-icon
      @extend .fas
      padding-right: .5em

.back,
.categories,
.category,
.delete,
.edit,
.lectures,
.solutions,
.students,
.tasks,
.users
  &>a
    @extend .btn-default

.approve>a
  @extend .btn-success

  &:before
    @extend .fa-check

.back>a
  &:before
    @extend .fa-arrow-left

.categories>a
  &:before
    @extend .fa-sitemap

.delete>a
  &:before
    @extend .fa-trash-alt

.edit>a
  &:before
    @extend .fa-edit

.enroll input[type=submit]
  @extend .btn-primary

.lectures>a
  &:before
    @extend .fa-book

.new>a
  @extend .btn-primary

  &:before
    @extend .fa-plus

.reject>a
  @extend .btn-danger

  &:before
    @extend .fa-times

.sign-up>a
  @extend .btn-primary
  @extend .btn-lg

.solutions>a
  &:before
    @extend .fa-copy

.students>a
  &:before
    @extend .fa-users

.tasks>a
  &:before
    @extend .fa-tasks

.users>a
  &:before
    @extend .fa-users

.btn
  margin: 5px

.debug
  margin-top: 50px

.center
  text-align: center

.field, input[type=submit]
  margin-bottom: 20px

.teacher
  text-align: center
