- content_for :sidebar do
  - if policy(Course).index?
    .back= link_to t('.back_to_courses'), courses_path

%h1= t '.title'

- if policy(Category).new?
  .new= link_to t('.add_category'), new_category_path

%ul= render categories
