.row
  .col-md-3
    = link_to categories_path, class: 'btn btn-default' do
      %i.fa.fa-arrow-left
      Wróć

  .col-md-9
    %h1 Utwórz nową kategorię
    = form_for @category do |f|
      = render 'fields', f: f
      = f.submit 'Utwórz kategorię', class: 'btn btn-primary'
