- breadcrumb category

.page-header
  %h1= category.name

- if policy(category).edit?
  .edit= link_to t(:edit), [:edit, category]

- if policy(category).destroy?
  .delete= link_to t(:delete), category, method: :delete

%ul= render category.courses
